* {
  padding: 0;
  margin: 0;
}

:root {
  --website-blue: rgb(29, 146, 255);
  --website-gray: #e2e8f0;/* rgb(230, 230, 230); */
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 4fr;
}

.sidebar {
  background-color: var(--website-blue);
  color: white;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 1rem;
  padding-top: 1.5rem;
  padding-left: 2rem;
}

.sidebar-header{
  display: flex;
  gap: 15px;
  align-items: center;
}

.sidebar-header img{
  max-width: 30px;
}

.sidebar ul>li {
  list-style: none;
  margin: 5px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
}

.sidebar-img {
  max-width: 20px;
}

.header {
  padding-left: 50px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  grid-template: 1fr 1fr / 3fr 2fr;
  align-items: start;
  gap: 1rem;
}

.search {
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
  gap: 1rem;
}

.search img {
  max-width: 28px;
}

.search-input {
  width: 75%;
  background-color: var(--website-gray);
  border-color: rgb(255, 255, 255, 0);
  border-radius: 30px;
  height: 20px;
}

.profile-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-left: 10rem;
  padding-right: 5rem;
  gap: 1rem;
}

.profile-header>div:first-of-type {
  border-radius: 50%;
  background-color: orange;
  padding: 5px;
  padding-bottom: 0;
  margin-bottom: 5px;
}

.profile-header img {
  max-width: 25px;
}

.profile-header p {
  font-size: 24px;
  margin-left: 1rem;
}

.header-greeting {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.header-greeting>div:first-child {
  border-radius: 50%;
  background-color: orange;
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: 5px;
}

.header-greeting div img {
  max-width: 50px;
}

.greeting-text p {
  font-weight: bold;
}

.greeting-text p:last-child {
  font-size: 24px;
  padding-top: 5px;
}

.header-buttons {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding-top: 2rem;
}

.header-buttons button {
  font-size: 20px;
  color: white;
  background-color: var(--website-blue);
  padding: 5px 20px;
  border-color: rgb(255, 255, 255, 0);
  border-radius: 30px;
}

.main {
  background-color: var(--website-gray);
  padding-top: 2rem;
  padding-left: 50px;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 5rem;
}

.projects {
  grid-column: 1 / 2;
}

.projects>h1,
.announcements>h1 {
  font-size: 20px;
  margin-bottom: 1rem;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  gap: 4.5rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  border-left: 10px solid orange;
  height: 175px;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-right: 1rem;
}

.card-text h1 {
  font-size: 20px;
}

.project-card div:nth-child(2) {
  display: flex;
  gap: 10px;
  align-self: flex-end;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.project-card div:nth-child(2) img {
  max-width: 25px;
}

.side-content {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.announcement-card,
.trending-card {
  background-color: white;
  border-radius: 10px;
  max-width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 1rem;
}

.announcement-item {
  margin-bottom: 1rem;
  width: 85%;
}

.announcement-item:nth-child(1n+2) {
  border-top: 2px solid var(--website-gray);
  padding-top: 10px;
}

.trending-card {
  align-items: flex-start;
  gap: 2rem;
}

.trending-item {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  padding: 5px 1rem 5px 5px;
  gap: 1rem;
}

#trending-1 {
  background-color: aquamarine;
}

#trending-2 {
  background-color: pink;
}

#trending-3 {
  background-color: greenyellow
}

.trending-image {
  width: 40px;
  height: 40px;
}

.trending-image img {
  width: 100%;
  border-radius: 50%;
}
